Texto/main.aux
Texto/main.bbl
Texto/main.blg
Texto/main.brf
Texto/main.fdb_latexmk
Texto/main.fls
Texto/main.idx
Texto/main.ilg
Texto/main.ind
Texto/main.lof
Texto/main.log
Texto/main.lot
Texto/main.synctex.gz
Texto/main.toc
