Texto/main.aux
Texto/main.bbl
Texto/main.blg
Texto/main.brf
Texto/main.fdb_latexmk
Texto/main.fls
Texto/main.idx
Texto/main.ilg
Texto/main.ind
Texto/main.lof
Texto/main.log
Texto/main.lot
Texto/main.synctex.gz
Texto/main.toc
App/app_dev
App/keys.txt
App/keys.csv
*.pyc
App/data/test_pisasci2006.csv
App/data/train_pisasci2006.csv
*.rds
